body {
	font: 12px/1.2 Verdana;
	width: 33em;
	margin: 0.5em;
}
h1 {font-size: 1.72em;}
h2 {font-size: 1.44em;}
h3, legend {font-size: 1.2em;}
h1, h2, h3, p {margin: 0 0 1em 0;}
fieldset {
	border: 0 none;
	padding: 0.25em;
}
legend {margin: 0.5em 0 0 0;}
button {
	display: block;
	margin: 0.25em 0.25em 0.25em auto;
    font-size: inherit;
    color: white;
    background: red;
	border: 0 none;
	cursor: pointer;
}

.active,
#activate {
    background: limegreen;
}
.passive,
#deactivate {
    background: orange;
}
.request-found {
    color: limegreen;
}
.request-failed,
.request-lost {
    color: orange;
}
#activate, #deactivate {
	display: none;
}
.active #deactivate,
.passive #activate {
	display: block;
}

label {
	display: flex;
}
.tag,
.value {
	align-self: baseline;
    padding: 0.25em;
}
.tag {
	flex: 0 0 6em;
}
.tag input {
	margin: 0 auto;
}
.value {
	margin-left: 0.25em;
	flex: 0 0 25em;
	text-align: right;
}
.value input {
	width: 100%;
    font-size: inherit;
	text-align: left;
}

#general .value input {
    width: calc(100% - 5em);
}
#new .tag,
#new .value,
#new label {
    display: block
}

.state .tag {
	text-align: center;
}
.state .value {
	text-align: left;
}

#template {display: none;}

.route legend {
    padding: 0.333em 0;
    word-break: break-word;
}
.route.collapsed button,
.route.collapsed label {
    display: none;
}
.route {
    transition: height 500ms linear;
    overflow: hidden;
}
